
  
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*,
*:before,
*:after {
   box-sizing: inherit;
}
  
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: center;
}

ol,
ul {
  list-style: none;
}

.wrapper {
    width: 60%;
    margin: 2rem auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    margin-right: 2.3rem;
}
.box,.operator{
    height: 120px;
    width: 160px;
}

.result {
    background-color: black;
    border-radius: 12px;
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    height: 120px;
    justify-content: right;
}

.operator {
    background-color: #710133;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
}

.digits {
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    padding: 20px 0;
    width: 80%;
}

#clear {
    background-color: #3d1b10;
    color: #b2d1d6;
}

.box {
    background-color: #cfcfcf;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
}

.equalto {
    padding: 20px 0;
    width: 160px;
    height: 504px;
    background-color: #018080;
    color: black;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}











/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.container{
 width: 600px;
 margin: 0 auto;
 padding: 20px;
}
h1{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}


.display{
    padding:30px 0px;
    width: 70%;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #000000;
}
p{
    color: red;
    text-align: right;
    padding-right: 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.parent{
    margin: 20px auto;
    width: 70%;
}
.parent1{
    margin-right: 0px;
    margin-top: 20px;
    width: 50%;
    margin-left: 95px;
}
span{
    padding:25px 40px;
    border-radius: 9px;
    background-color: blueviolet;
}*/