
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

   html,
   body,
   div,
   span,
   applet,
   object,
   iframe,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   blockquote,
   pre,
   a,
   abbr,
   acronym,
   address,
   big,
   cite,
   code,
   del,
   dfn,
   em,
   img,
   ins,
   kbd,
   q,
   s,
   samp,
   small,
   strike,
   strong,
   sub,
   sup,
   tt,
   var,
   b,
   u,
   i,
   center,
   dl,
   dt,
   dd,
   ol,
   ul,
   li,
   fieldset,
   form,
   label,
   legend,
   table,
   caption,
   tbody,
   tfoot,
   thead,
   tr,
   th,
   td,
   article,
   aside,
   canvas,
   details,
   embed,
   figure,
   figcaption,
   footer,
   header,
   hgroup,
   menu,
   nav,
   output,
   ruby,
   section,
   summary,
   time,
   mark,
   audio,
   video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
   }
   
   /* HTML5 display-role reset for older browsers */
   
   article,
   aside,
   details,
   figcaption,
   figure,
   footer,
   header,
   hgroup,
   menu,
   nav,
   section {
     display: block;
   }
   
   body {
     line-height: 1;
   }
   
   ol,
   ul {
     list-style: none;
   }
   
   blockquote,
   q {
     quotes: none;
   }
   
   blockquote:before,
   blockquote:after,
   q:before,
   q:after {
     content: "";
     content: none;
   }
   
   table {
     border-collapse: collapse;
     border-spacing: 0;
   }


/*---[Resets Import]---*/

@import url(../stylesheets/resets.css);

/*---[Custom Styles]---*/

/*Variables*/
:root {
  --primary: rgb(238, 235, 84);
  --secondary: whitesmoke;
  --darktext: #000000;
  --lighttext: rgb(160, 160, 160);
}

/*Global*/
html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 35rem;
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
}

.padding {
  padding: 1.5rem 0;
}

a {
  text-decoration: none;
}

/*Flex*/

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-20 {
  flex: 0 1 20%;
}

.flex-25 {
  flex: 0 1 25%;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-32 {
  flex: 0 1 32%;
}

.flex-40 {
  flex: 0 1 40%;
}

.flex-47 {
  flex: 0 1 47%;
}

.flex-50 {
  flex: 0 1 50%;
}

.flex-60 {
  flex: 0 1 60%;
}

/*Buttons*/

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  outline: none;
  border: none;
}

/*Images*/

.font-0 {
  font-size: 0;
}

.full-width {
  width: 100%;
  object-fit: cover;
}

/*Position*/

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}

/*Headings*/

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.main {
  margin-top: 5rem;
  background-color: var(--primary);
  border-radius: 1rem;
}

#text {
  width: 90%;
  height: 2.2rem;
  border-radius: 1.3rem;
  border: none;
  padding: 1.5rem 0;
  font-size: 20px;
  padding-left: 0.7rem;
  outline: none;
}
#addTodo {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  border: 3px solid white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

#addTodo:hover, .cross:hover, .check:hover {
  cursor: pointer;
}

.check {
  margin-right: 1rem;
  height: 1.4rem;
  width: 1.4rem;
}
.para {
  color: snow;
  font-size: 1.4rem;
}
.cross {
  color: snow;
  font-size: 2.5rem;
  font-weight: 600;
}

.options{
  border: 2px solid whitesmoke;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
}

ul{
  padding-left: 1.5rem; 
  padding-right: 1.5rem;
  border-radius: 1rem;
}
.options span{
  color: #ffffff;
  font-weight: 500;
  padding: .25rem .5rem;
  border-radius: .5rem;
  background-color: rgb(95, 83, 83);
}
.options span:hover{
  background-color: #f80994b3;
  cursor:cell;
}